:host {
    display: block;
    width: 100%;

    .ctc-me {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        text-align: center;

        .ctc {
            width: 50%;
            text-transform: uppercase;
        }      
    }

    form {

        .contact {
            display: flex;
            flex-direction: row;
            padding-top: 30px;
            gap: 30px;
            flex-wrap: wrap;
            
            .renseignement {
                flex: 1 1 calc(50% - 30px);

                input {
                    height: 55px;
                    &:first-child {
                        margin-bottom: 30px;
                    }
                }
            }

            .message {
                flex: 1 1 calc(50% - 30px);
                textarea {
                    height: 100%;
                }
            }
        }

        input, textarea {
            background-color: #333333;
            border: 1px solid #ebebeb;
            box-sizing: border-box;
            color: #bcbcbc;
            font-size: 16px;
            outline: 0 none;
            padding: 10px 25px;
            resize: none;
            box-shadow: none !important;
            width: 100%;
            border-radius: 0px;
            font-family: 'Roboto Mono', monospace;
            // min-width: 350px;

            &::-webkit-input-placeholder, &::-moz-placeholder, &::-ms-input-placeholder {
                color: #bcbcbc;
                opacity: 1;
            }
        }

    .button {
        display: flex;
        justify-content: center;

            .btn {
                align-items: center;
                border-radius: 8px;
                box-sizing: border-box;
                border-color: #333333;
                color: #36395A;
                display: inline-flex;
                font-family: "Roboto Mono",monospace;
                height: 48px;
                padding-left: 16px;
                padding-right: 16px;
                margin-top: 30px;
                position: relative;
                text-align: left;
                text-decoration: none;
                transition: transform .15s;
                touch-action: manipulation;
                will-change: transform;
                font-size: 15px;
                &:disabled, &[disabled] {
                    background-color: grey;
                    color: darkgray;
                }
                &:not(:disabled):hover {
                    transform: translateY(-2px);
                    cursor: pointer;
                }
            
                &:not(:disabled):active {
                    transform: translateY(2px);
                }
            }

            .loader {
                margin-left: 15px;
                width: 24px;
                height: 24px;
                border: 4px solid;
                border-color: #666 #666 #666 transparent;
                border-radius: 50%;
                transform: rotate(0deg);
                animation: spin 1s linear infinite;
            }
              
            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }
                
                to {
                    transform: rotate(360deg);
                }
            }


        }
    }   


    @media screen and (max-width: 950px) {
        form {
            .contact {
                .renseignement {
                    flex: 1 1 100%;
                }
            }
        }
    }
}