
<h2>Me contacter .</h2>
<div class="ctc-me">
<p class="ctc">Contactez-moi pour de plus amples informations ou une éventuelle rencontre .</p>
</div>

<form [formGroup]="form" action="javascript:void(0);" (submit)="send()">

    <div class="contact">
        <div class="renseignement">
            <input type="text" name="name" formControlName="from_name" placeholder="Votre nom">
            <input type="email" name="email" formControlName="from_email" placeholder="Votre email">
        </div>

        <div class="message">
            <textarea name="message" formControlName="message" type="text" placeholder="Votre message"></textarea>
        </div>
    </div>


    <div class="button">
        <button class="btn" type="submit" value="Ajouter" [disabled]="form.invalid || form.pristine || emailIsSending">
            Envoyer message
            @if (emailIsSending) {
                <div class="loader"></div>
            }
        </button>
    </div>

</form>