<header class="brand-name">
    <img class="brand-logo" src="/assets/christelle_giga_bento.jpg" alt="logo">
</header>

<h1 class="name">Christelle GIGA BENTO</h1>
<h2 class="status">Junior Web Developer & Automatisation Test Coordinator</h2>
<p>Au cours de ma vie professionnelle, j'ai pu occuper de nombreux postes, tous plus enrichissants les uns que les
    autres. Parcours atypique, j'ai dans un premier temps conclu avec succès mes études en socio-éducatif. Suite à quoi
    je me suis engagée au sein de l'armée suisse dans laquelle j'ai gradé sergent. Par la suite, j'ai principalement
    baigné dans le monde de la vente et de la sécurité en tant qu'agent de sécurité auxiliaire, poste qui m'a ensuite
    permit de me réorienté professionnellement, et d'achever avec réussite mes études de Webmaster ainsi qu'une
    formation de technicien informatique.
    dans la vente. </p>